node_modules/
dist/
.env
.DS_Store
*.log
.vscode/
client/build/
*.pt
*.bin
*.ckpt
*.h5

#these two files were exceeding the github limit so i wasnt able to upload these
server/flask_ai_server/models/models/fine_tuned_model/checkpoint-3/model.safetensors
server/flask_ai_server/models/models/fine_tuned_model/checkpoint-3/optimizer.pt
